
/*-- scss:defaults --*/

$irh-primary:           #262626; // eerie black
$irh-primary-light:     #E9C46A; // white smoke
$irh-secondary:         #508991;
$irh-secondary-light:   #77867F; // battleship gray
$irh-accent:            #508991; // blue (Munsell)
$irh-accent-light:      #E9C46A;
$irh-accent-dark:       #E9C46A;
$irh-bg-0:              #f2f0ef;
