
/*-- scss:defaults --*/

// colors for dark theme styling

$irh-primary:           #BFB8AD;
$irh-primary-light:     #F6F5F4;
$irh-secondary:         #432818;
$irh-secondary-light:   #965936;
$irh-accent:            #6F1D1B;
$irh-accent-light:      #AF5D63;
$irh-accent-dark:       #521514;
$irh-bg-0:              #124559;
$irh-bg-1:              #37FF8B;
$irh-bg-00:             #C45AB3;
